<div class="container">
  <div class="row">
    <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
