// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*******************************收货地址列表-start*****************************/
.address{
  width: 270px;;
  height: 180px;
  border: 1px solid #aaa;
  display: inline-block;
  float: left;
  margin-right: 110px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
}
/*******************************收货地址列表-end*****************************/
