// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/********************************前台主页-start********************************/
#front_products .product-list {
  margin-right: 81px;
}

#front_products .product-content{
  p {
    text-align: center;
    margin: 10px 0 0 0;
  }
}
/********************************前台主页-end********************************/
/********************************商品show-start********************************/
#product_show {
  img {
    width: 428px;
    height: 428px;
  }
}

#product_show{
  .collectZone{
    width: 50px;
    height: 49px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    .collectZone-top{
      width: 50px;
      height: 24px;
    }
  }
}
/********************************商品show-end********************************/
